#botao:hover {
    background-color: #c74868;
}

.linki {
    color: inherit;
    text-decoration: none;
}

.linki:hover {
    color: #c74868;
    transition: 0.2s;
}

input[type=email]:invalid {
    color: red;
}

input[type=email]:valid {
    color: rgb(38, 121, 0);
}

*::selection{
    background-color: #6e1b30;
    color: white;
}